﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="DigitalManager.master.cs" Inherits="DigitalManager" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Digital Upscale Manager</title>
    <asp:ContentPlaceHolder id="headContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div id="wrapper">
        <header>
            Digital Upscale Manager <span id="special">for</span> Ballgames
        </header>
        
        <form id="mainForm" runat="server">
            <nav>
                <asp:Menu ID="mnuNavigation" runat="server" BackColor="Pink" DataSourceID="smdsNavigation" DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="0.8em" ForeColor="#666666" Orientation="Vertical" StaticSubMenuIndent="10px">
                    <DynamicHoverStyle BackColor="#666666" ForeColor="White" />
                    <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                    <DynamicMenuStyle BackColor="Pink" />
                    <DynamicSelectedStyle BackColor="LightBlue" />
                    <StaticHoverStyle BackColor="#666666" ForeColor="White" />
                    <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                    <StaticSelectedStyle BackColor="LightBlue" />
                </asp:Menu>
             </nav>
             <asp:SiteMapDataSource ID="smdsNavigation" runat="server" />

        <h1>Managing Ballgames with Technology</h1>
        
             <div id="content">

                <asp:ContentPlaceHolder ID="bodyTitle" runat="server">
                </asp:ContentPlaceHolder>

                <asp:ContentPlaceHolder id="bodyContent" runat="server">
                </asp:ContentPlaceHolder>
            
                <asp:ContentPlaceHolder ID="bodyErrorMessage" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </form>
    
        <footer>
            <p>&copy; Upscale Ball Game Manager 2015, Please contact use at 88-BallGame or email digitalBallgamManager@tommycopper.com</p>
        </footer>
    </div>
</body>
</html>
