﻿
label {
    margin-right: 1em;
}
    
.button {
    margin-top: 1em;
    padding: .25em .5em;
    width: 200px;
    clear: left;
}

.listBox {
    width: 425px;
    height: 250px;
    margin-left: 30px;
}

#contactListHeader {
    width: 4em;
    margin-right: 0.2em;
}

#buttons{
    float: right;
    width: 206px;
    margin-right: 20px;
}

.error{
    color: yellow;
}





