﻿label {
    display: block;
    float: left;
    clear: left;
    width: 15em;
    margin-right: 3em;
    margin-bottom: 2em;
    font-weight: bold;
}

.dynamicLabel {
    margin-bottom: 3em;
    float: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.5);
    width: 10em;
    padding-left: 0.5em;
}

#ddlCustomer {
    width: 10em;
}

#customer {
    width: 15em;
} 


#stateLabel, #zipCodeLabel {
    margin-left: 15px;
    clear: none;
}

#stateLabel {
    width: 2em;
}

.em2 {
    width: 2em;
    float: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 0.5em;
}

.em5 {
    width: 5em;
    float: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 0.5em;
}

.em15 {
    width: 15em;
    float: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 0.5em;
}

.em18{
    width: 18em;
    float: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 0.5em;
}

#zipCodeLabel {
    width: 5em;
}



#btnAddCustomer {
    clear: left;
    margin-left: 9em;
}

.button {
    margin-left: 3em;
    width:135px;
    clear: left;
    float: left;
    margin-bottom: 0.5em;
}

.error {
    clear: left;
    float: left;
    color: yellow;
}

