﻿.listBox {
    width: 59em;
    height: 5em;
}

.floatLeft, .floatRight, #mid {
    width: 20em;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#serviceTimeLabel, #probResoulutionLabel, #techEfficiencyLabel, #commentLabel, #contactLabel, #methodLabel {
    font-weight: bold;
}

.serviceTimeOptions,.probResolutionOptions, .techEfficiencyOptions {
    margin-left: 1em;
}

#comments {
    float: right;
    height: 150px;
    margin-right: 100px;
}

#commentLabel {
    clear: right;
    float: left;
}

#FeedbackRatings {
    width: 54em;
}