﻿.column1 {
    width: 50px;
    text-align: right;
}

.column2 {
    width: 250px;
}

.box {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

table {
    font-size: 20px;
    width: 300px;
}

.SupportFeedback {
    font-size: 16px;
    width: 600px;
}

.UpdateFeedback {
    font-size: 14px;
    width: 800px;
}

.column6 {
    width: 200px;
    font-size: 12px;
}

.error{
    color: yellow;
}